DATABASE_URL="postgresql://username:password@localhost:5432/dbname"
STRAPI_API_URL="http://localhost:1337"
STRAPI_API_TOKEN="your-strapi-api-token"
TELEGRAM_BOT_TOKEN="1234567890:ABCdefGHIjklMNOpqrsTUVwxyz"
TELEGRAM_CHANNEL_ID="-1001234567890"
NODE_ENV="development"
DIRECT_URL="postgresql://username:password@localhost:5432/dbname"
NEXT_PUBLIC_STRAPI_API_URL="http://localhost:1337"
NEXT_PUBLIC_TELEGRAM_MINI_APP_URL="https://t.me/YourBotName"